@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");

html,
body {
  display: flex;
  justify-content: center;
  direction: rtl;
  background-color: #ffffff;
  color: black;
  padding: 0;
  margin: 0;
  font-family: "Vazirmatn", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  line-height: 32px;
  color: #323232;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

img {
  width: 100%;
}

a {
  color: #1968ff;
  text-decoration: none;
}

@media only screen and (min-width: 1280px) {
  div#app {
    max-width: 750px;
  }
}